@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Medium.ttf) format('truetype');
}


.App {
  text-align: center;
  width: 1920px;
  height: 1080px;
  background-color: #c4c3c3;
  position: relative;
}

.Scores{
  font-family: Poppins;
  color: white;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-image: linear-gradient(to right, #25274d, #1F2141);
  //background-color: #25274d;
  border-radius: 15px 50px 30px;
  width: 330px;
  height: 200px;
  border: #227394 1px solid;
}



.Clock{
  h1{
    font-size: 50px;
    margin: 0;
  }
  position: absolute;
  top: 0px;
  left: 10px;
}

.Quarter{
  font-size: 40px;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 20px;
}

.Team-Container{
  position: absolute;
  width: auto;
  top: 65px;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Team{
  font-size:40px;
  margin: 0;
}

.home{
  align-self: flex-start;
}
.away{
  align-self: flex-end;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.break-top {
  position: relative;
  top: 65px;
  flex-basis: 100%;
  height: 0;
  margin: 0 0 2%;
  border: 1px solid #227394;
// #2e9cca
}

.teamScore {
  justify-content: left;
  font-size: 40px;
  padding-right: 10px;
}


.animateEndTimer{
  animation: gloss 1.5s linear alternate infinite;
  @keyframes gloss {
    from{
      color:white;
    }
    to {
      color:red;
    }

  }
}

