@import "Utilities/variables";
@import "~bootstrap/scss/bootstrap";


.header{
  width: 100vw;
  height: 5vh;
  border-style: none;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: $bc-secondary;
  background-color: $bc-primary;
  h1{
    font-size: 3vh;
  }
}

.footer{
  width: 100vw;
  height: 4vh;
  border-style: none;
  border-top-style: solid;
  border-width: 2px;
  border-color: $bc-secondary;
  background-color: $bc-primary;
  color: #5e6666;
}

.circle{
  height: 1.5vh;
  width: 1.5vh;
  border-radius: 50%;
}

.player{
  color: black;
  background-color: #313335;
  font-size: 2vh;
}

.clock{
  h1 {
    font-size: 10vh;
  }

}


.timerControls {
  margin-top: 5px;
  filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
  button:hover{
    outline: none;
    cursor: pointer;
    opacity: 1
  }
  button:active{
    filter: none;
    outline: none;
    transform: scale(.95);
  }
}
.timerButton{
  font-size: 24px;
}

.timerDataControls{
  font-size: 2vh;
  button:hover{
    outline: none;
    cursor: pointer;
    opacity: 1
  }
  button:active{
    filter: none;
    outline: none;
    transform: scale(.95);
  }
}

.timerDataControls button{
  font-size: 2.5vh;
}

.timerControls button{
  @extend .timerButton;
}

.timerFineAdjustments button{
  @extend .timerButton;
  font-size: 2.5vh;
}



.timerDataControls :nth-child(1){
  border-radius: 10px 0 0 10px;
}
.timerDataControls :nth-child(2){
  border-radius: 0 10px 10px 0;
}
.timerDataControls :nth-child(4){
  border-radius: 10px 10px 10px 10px;
}

.control{
  p{
    font-size: 2vh;
  }
}

.scoreControlButtons button{
  font-size: 3vh;
  padding: 15px;
}

.shortName{
  color: #6d6a6a;
}